/* 共通部分 */

header {
    background-color: #ffffff;
}

body {
    background-color: #C4C4C4;
}

.card__title {
    color: #282828;
    font-size: 14px;
}

.card__description {
    color: #282828;
    font-size: 12px;
}

.card__img-top {
    width: 288px;
    height: 182px;
}

.card {
    padding: 5px;
    background-color: #ffffff;
    width: 300px;
    border: 4px solid blue;
    /* margin: 0px auto 100px auto; */
    }

img {
    margin-bottom: 5px;
}

footer {
    background-color: #ffffff;
}

.card-container {
    display: flex;
}

/* スマホのレスポンシブ */

@media screen and (max-width: 320px) {
    .card-container {
        /* display: flex; */
        justify-content: center;
        flex-direction: column;
    }

    .card {
        margin: 0px auto 100px auto;
    }

    .card:first-child {
        margin-top: 50px;
    }

}

/* ipadのレスポンシブ */

@media screen and (max-width: 768px) {
    .card-container {
        display:block;
        flex-wrap: wrap;
        flex-basis: 50%;

    }
}